.Tab {
    border: 1px solid transparent;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    display: block;
    background-color: #fff;
    padding: .5rem 1rem;
    margin-right: 2px;
    margin-bottom: 0px;
}

.Tab button {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    border: 0px;
}

.Tab button:hover {
    cursor: pointer;
}

.Inactive a:hover{
    color: #495057;
}

.Active {
    background-color: #f8f8f8;
    border-color: #dee2e6 #dee2e6 #fff;
}

.Active a {
    color: #495057;
}