.Wrapper {
    background-color: white;
    border: 1px solid #dee2e6;
    padding: 15px;
    border-radius: 1rem;
    margin-top: 10px;
    overflow: scroll;
}

.Table {
    border: 1px solid #dee2e6;
    border-collapse: collapse;
    width: 100%;
    color: #212529;
    text-align: left;
}

.TableHead {
    padding: .75rem;
    border: 1px solid #dee2e6;
}

.ContentNotFound {
    text-align: center;
    background-color: rgba(0,0,0,.05);
}

.TDEven {
    background-color: rgba(0,0,0,.05);
}

.TDOdd {
    background-color: #dee2e6;
}