.Wrapper {
    background-color: white;
    border: 1px solid #dee2e6;
    padding: 15px;
    border-radius: 1rem;
    margin-top: 10px;
}

.Button {
    color: #ffffff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin-right: 10px;
}

.Button:hover {
    background-color: #6cb3ff;
}


@media (max-width: 550px) {
    .Button {
        margin-left: 5px;
        margin-top: 5px;
        font-size: .65rem;
    }
}